<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EntidadeBaseDeDatos_Provincia.Properties.Settings.conexionProvincia"
            connectionString="Data Source=DESKTOP-BAI7O74\SQLEXPRESS;Initial Catalog=Provincia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>